{% extends 'base.html' %}
{% block title %}Form Reset Password{% endblock %}
{% block content %}
<div class="col-md-4">
    {% if validlink %}
    <p>Login with your new password to reset</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mt-3">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
        </div>
        <div class="mt-3">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2">New password confirmation:</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
        </div>
        <button type="submit" class="btn btn-warning mt-3">Submit password</button>
    </form>
    {% else %}
    <h1>Error</h1>
    <p>Link already used, ask for a new one</p>
    {% endif %}
</div>
{% endblock %}