{% extends 'base.html' %}
{% block content %}

{% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}

<div class="container mt-4">
    <div class="card mb-4" style="background-color: #ebffeb; color: #303030 ;">
        <div class="card-body">
            <h3 class="text-center font-weight-bold" style="color:#303030; ;">Data from B3 for {{ ticker }}</h4>
            <h4 class="text-center font-weight-bold" style="color:#c1c1c1; ;">last one day data with 1 minute update</h5>

            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <p class="h4 my-auto text-center" ><strong>Last data available</strong></p> 
                    <p class="h4 my-auto" >Date-time:  <strong>{{ data.name }} </strong></p> 
                    <p class="h4 my-auto" >Open price: <strong>{{ data.Open|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >High price: <strong>{{ data.High|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >Low price: <strong>{{ data.Low|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >Close price: <strong>{{ data.Close|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >Volume: <strong>{{ data.Volume }}</strong></p>
                </div>
                <div class="col-md-6">
                    {{ graph_html|safe }}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card mb-4" style="background-color: #ebffeb; color: #303030 ;">
        <div class="card-body">
            <h3 class="text-center font-weight-bold" style="color:#303030; ;">Data stored in our database {{ ticker }}</h4>
            <h4 class="text-center font-weight-bold" style="color:#c1c1c1; ;">showing latest 500</h5>

            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <p class="h4 my-auto text-center" ><strong>Last data stored</strong></p> 
                    <p class="h4 my-auto" >Date-time:  <strong>{{ dataHistory.timestamp }} </strong></p> 
                    <p class="h4 my-auto" >Open price: <strong>{{ dataHistory.openPrice|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >High price: <strong>{{ dataHistory.highPrice|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >Low price: <strong>{{ dataHistory.lowPrice|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >Close price: <strong>{{ dataHistory.closePrice|floatformat:"2" }} BRL </strong></p>
                    <p class="h4 my-auto" >Polling interval: <strong>{{ interval }} minutes</strong></p>
                </div>
                <div class="col-md-6">
                    {{ graph_history_html|safe }}
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}